@using Microsoft.EntityFrameworkCore
﻿@using MythicArena.Components
@using MythicArena.Data
@using System.Net.Http

@page "/randomimage"
@inject IPicsumService PicsumService
@rendermode InteractiveServer



<h3>Images</h3>

<button @onclick="LoadRandomImage">Load Random Image</button>

@if (!string.IsNullOrEmpty(imageUrl))
{
    <img src="@imageUrl" alt="Random Image" />
}

@code {
    private string imageUrl;

    //interface segregation principle: this page and method are separated from the monsters page because it has a separate function.
    //The purpose of this page is to supply the user with an image

    private async Task LoadRandomImage()
    {
        // can change the numbers at the end for picture size
        imageUrl = await PicsumService.GetRandomImageWithSize(500, 500);
    }
}
