<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">MythicArena</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <!--Adds button to main menu. Size? links the button to the page.icon is the square with a plus. display name of the button-->
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="monsterarena">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> MonsterArena
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="monsters">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Monsters
            </NavLink>
        </div>


        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
            </NavLink>
        </div>
    </nav>
</div>

